<div class="container-fluid" id="login">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="page-header">Login</h1>
    <form>
      <div class="form-group">
        <label for="inputUsername" class="control-label">Username:</label>
        <input class="form-control" id="inputUsername" placeholder="Username" ng-model="form.username">
      </div>
      <div class="form-group">
        <label for="inputPassword" class="control-label">Password:</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="form.password">
      </div>
      <div class="form-group">
        <a class="btn btn-primary btn-block" ng-click="login()">Login</a>
      </div>
    </form>
  </div>
</div>
