<div class="container-fluid">
  <div>
    <h1 class="page-header">Forms: Form Fields</h1>
    <ul class="nav nav-tabs">
      <li class="" role="presentation">
        <a href="#/forms">Forms</a>
      </li>
      <li class="active" role="presentation">
        <a>Fields</a>
      </li>
    </ul>
    <form class="clearfix">
      <div ng-repeat="field in fields">
        <div ng-switch="field.type">
          <div class="form-group col-md-9" ng-switch-when="TEXT">
            <label>{{field.label}}</label>
            <input type="text" class="form-control" placeholder="{{field.placeholder}}">
          </div>
          <div class="form-group col-md-9" ng-switch-when="TEXTAREA">
            <label>{{field.label}}</label>
            <textarea type="text" class="form-control" placeholder="{{field.placeholder}}"></textarea>
          </div>
          <div class="form-group col-md-9" ng-switch-when="DATE">
            <label>{{field.label}}</label>
            <input type="date" class="form-control">
          </div>
          <div class="form-group col-md-9" ng-switch-when="OPTIONS">
            <label>{{field.label}}</label>
            <select class="form-control">
              <option ng-repeat="option in field.options">{{option.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-9" ng-switch-when="CHECKBOXES">
            <label>{{field.label}}</label>
            <div class="checkbox" ng-repeat="option in field.options">
              <label>
                <input type="checkbox" value="">
                {{option.label}}
              </label>
            </div>
          </div>
          <div class="form-group col-md-9" ng-switch-default>
            <label>{{field.label}}</label>
            <div class="radio" ng-repeat="option in field.options">
              <label>
                <input type="radio" value="">
                {{option.label}}
              </label>
            </div>
          </div>
        </div>
        <div class="icons col-md-3">
          <i class="glyphicon glyphicon-pencil"></i>
          <i class="glyphicon glyphicon-remove" ng-click="removeField(field)"></i>
        </div>
      </div>
    </form>
    <div>
      <div class="form-group col-md-9">
        <label>Add New Field:</label>
        <select class="form-control" ng-model="fieldType">
          <option value="TEXT">Single Line Text</option>
          <option value="TEXTAREA">Multi Line Text Field</option>
          <option value="DATE">Date Field</option>
          <option value="OPTIONS">Dropdown Field</option>
          <option value="CHECKBOXES">Checkboxes Field</option>
          <option value="RADIOS">Radio Buttons Field</option>
        </select>
      </div>
      <div class="icons col-md-3">
        <i class="glyphicon glyphicon-plus" ng-click="addField()"></i>
      </div>
    </div>
  </div>
</div>