<div class="container-fluid">
  <div>
    <h1 class="page-header">Forms</h1>
    <ul class="nav nav-tabs">
      <li class="active" role="presentation">
        <a>Forms</a>
      </li>
      <li role="presentation">
        <a href="#/form-fields">Fields</a>
      </li>
    </ul>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          <i class="glyphicon glyphicon-triangle-bottom"></i>&nbsp;
          Form Name
        </th>
        <th>
          <i class="glyphicon glyphicon-triangle-bottom"></i>&nbsp;
          Action
        </th>
      </tr>
      <tr>
        <td><input type="text" class="form-control" placeholder="name" ng-model="form.title"></td>
        <td>
          <i class="glyphicon glyphicon-plus" ng-click="addForm()"></i>&nbsp;&nbsp;
          <i class="glyphicon glyphicon-pencil" ng-click="updateForm()"></i>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="form in forms">
        <td>{{form.title}}</td>
        <td>
          <i class="glyphicon glyphicon-remove" ng-click="deleteForm(form)"></i>&nbsp;&nbsp;
          <i class="glyphicon glyphicon-ok" ng-click="selectForm(form)"></i>
        </td>
      </tbody>
    </table>
  </div>
</div>