<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="../../styles/admin.css" rel="stylesheet">
  <!--Bootstrap template css-->
  <link href="../../styles/bootstrapTemplate.css" rel="stylesheet">
</head>

<body>

<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <table class="table table-striped">
        <h1 class="page-header">Admin</h1>
        <caption>Users</caption>
        <thead>
        <tr>
          <th>
            <i class="glyphicon glyphicon-triangle-bottom"></i>&nbsp;
            Username
          </th>
          <th>
            <i class="glyphicon glyphicon-triangle-bottom"></i>&nbsp;
            Password
          </th>
          <th>
            <i class="glyphicon glyphicon-triangle-bottom"></i>&nbsp;
            Role
          </th>
          <th><i class="glyphicon glyphicon-triangle-bottom"></i>&nbsp;
            Action
          </th>
        </tr>
        <tr>
          <td><input type="text" class="form-control" placeholder="username"></td>
          <td><input type="text" class="form-control" placeholder="password"></td>
          <td><input type="text" class="form-control" placeholder="role1, role2"></td>
          <td>
            <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;
            <i class="glyphicon glyphicon-ok"></i>
          </td>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alice</td>
            <td></td>
            <td>Student</td>
            <td>
              <i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;
              <i class="glyphicon glyphicon-pencil"></i>
            </td>
          </tr>
          <tr>
            <td>Bob</td>
            <td></td>
            <td>Faculty</td>
            <td>
              <i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;
              <i class="glyphicon glyphicon-pencil"></i>
            </td>
          </tr>
          <tr>
            <td>Charlie</td>
            <td></td>
            <td></td>
            <td>
              <i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;
              <i class="glyphicon glyphicon-pencil"></i>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>