<div class="container-fluid" id="home">
  <h1 class="page-header">Browse</h1>
  <div class="search">
    <div class="input-container">
      <input type="text" placeholder="Search..." ng-model="search">
      <i class="glyphicon glyphicon-search"></i>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="event in events | orderBy: 'time'  | filter: search">
    <div class="eventCard">
      <p class="title">{{event.title}}</p>
      <div class="clearfix row">
        <div class="col-xs-6">
          <p class="description">{{event.description}}</p>
          <p class="location">{{event.location}}</p>
          <p class="time">{{event.time | date:'MM/dd/yyyy @ h:mma'}}</p>
        </div>
        <div class="col-xs-6">
          <img ng-src="{{event.image}}">
        </div>
      </div>
    </div>
  </div>
</div>

