<div class="container-fluid" id="manage">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-header">Browse</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="event in events">
        <td>{{event.title}}</td>
        <td ng-click="editEvent(event)"><i class="glyphicon glyphicon-pencil"></i></td>
        <td ng-click="deleteEvent(event)"><i class="glyphicon glyphicon-trash"></i></td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-primary btn-block" ng-click="createEvent()">Create Event</button>
  </div>
</div>